@media (min-width: 1440px) {
	main {
		max-width: 56.5rem;
		.wrapper {
			flex-direction: row-reverse;
      justify-self: center;
			width: 100%;
			padding-inline: 2rem;
		}
		.cta-wrapper {
			gap: 2rem;
			margin-block: 4.5rem;
		}
		.email-btn {
			margin-block-start: var(--space-300);
		}
	}
	.email-btn:hover,
	.modal-btn:hover {
		background: var(--color-grad);
		cursor: pointer;
	}
}
