body {
	display: flex;
	height: 100vh;
	background-color: var(--color-blue700);
  justify-content: center;
  align-items: center;
}

.white {
	background-color: var(--color-white);
}

.modal {
	.wrapper {
		color: var(--color-blue800);
		h1 {
			font: var(--font-h1-mob);
		}
		p {
			font: var(--font-reg);
		}
		button {
			background-color: var(--color-blue800);
      border: none;
			color: var(--color-white);
			font: var(--font-reg-bold);
			border-radius: 0.5rem;
		}
	}
}
