main,
.modal {
	--padding-space: 4.375;
	width: 100%;
	height: 100%;
	max-width: 504px;
	margin: 0 auto;
	.wrapper {
		display: flex;
		flex-direction: column;
		gap: var(--space-400);
		height: inherit;
		width: 87%;
		max-width: 327px;
		margin: 0 auto;
	}
}

main {
	ul {
		list-style: url("../assets/images/icon-list.svg");
	}
	.email-form {
		display: flex;
		flex-direction: column;
		gap: var(--space-100);
		label {
			display: block;
		}
		button {
			margin-block-start: var(--space-300);
		}
	}
}

.modal {
	padding-block-start: calc(var(--padding-space) * 1rem + 79px);
	padding-block-end: calc(var(--padding-space) * 1rem);
	img {
		width: 4rem;
	}
	button {
		margin-block-start: auto;
		height: 3.5rem;
	}
}
