.modal {
	--padding-space: 4.375;
	width: 100%;
	height: 100%;
	max-width: 504px;
	margin: 0 auto;
	padding-block-start: calc(var(--padding-space) * 1rem + 79px);
	padding-block-end: calc(var(--padding-space) * 1rem);
	.wrapper {
		display: flex;
		flex-direction: column;
		gap: var(--space-400);
		height: inherit;
		width: 87%;
		max-width: 327px;
		margin: 0 auto;
	}
	img {
		width: 4rem;
	}
	button {
		margin-block-start: auto;
		height: 3.5rem;
	}
}
