@media (min-width:768px) {
  .modal {
    display: flex;
    align-items: center;
    max-height: 32.5rem;
    padding: 0;
    border-radius: 2.25rem;
    .wrapper {
      height: fit-content;
    }
    button {
      margin-block-start: initial;
    }
  }
}