@media (min-width: 768px) {
	body {
		height: 100vh;
		justify-content: center;
	}

	main {
		border-radius: 2.25rem;
		max-height: 878px;
    padding-block-end: 0;
		.action-wrapper {
			display: grid;
      gap: 1.5rem;
		}
    .email-form {
      button {
        margin-block-start: var(--space-100);
      }
    }
		.mob-image {
			display: none;
		}
		picture.tab-image {
			display: block;
		}
	}

	.modal {
		display: flex;
		align-items: center;
		max-height: 32.5rem;
		padding: 0;
		border-radius: 2.25rem;
		.wrapper {
			height: fit-content;
		}
		button {
			margin-block-start: initial;
		}
	}
}
