@media (min-width: 768px) {
	body {
		justify-content: center;
		align-items: center;
	}

	main {
		border-radius: 2.25rem;
		max-height: 878px;
		padding-block: var(--space-500) var(--space-500);
		.email-form {
			button {
				margin-block-start: var(--space-100);
			}
		}
		.mob-image {
			display: none;
		}
		picture.tab-image {
			display: block;
		}
	}

	.modal {
		display: flex;
		align-items: center;
		max-height: 32.5rem;
		padding-block: 3.75rem 3.75rem;
		padding-inline: var(--space-800) var(--space-800);
		border-radius: 2.25rem;
		.wrapper {
			height: fit-content;
		}
		button {
			margin-block-start: initial;
		}
	}
}
